<!DOCTYPE html>
<html>
  <head>
    <title>Party Spheres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/ps1.png" type="image/x-icon">
    <link rel="icon" href="/images/ps1.png" type="image/png">
    <link rel="icon" href="/images/ps1.png" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/ps1.png">
  </head>
  <header class="heading">
    <a href="/" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
        <div class="heading-img" id="ps2"><img src="/images/ps2.png" alt="PS2"></div>
        <span style="cursor: pointer;">PARTY&nbsp;&nbsp;&nbsp;SPHERES</span>
        <div class="heading-img" id="ps1"><img src="/images/ps1.png" alt="PS1"></div>
    </a>
  </header>

  <header>
    <div class="link-row">
      <div class="link-item">
        <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a>
      </div>
      <div class="link-item">
        <a href="/leaderboard" class="<%= currentPage === 'leaderboard' ? 'active' : '' %>">Leaderboard</a>
      </div>
      <div class="link-item">
        <a href="/characters" class="<%= currentPage === 'characters' ? 'active' : '' %>">Characters</a>
      </div>
      <div class="link-item">
        <a href="/players" class="<%= currentPage === 'players' ? 'active' : '' %>">Players</a>
      </div>
      <div class="link-item">
        <a href="/accountRouter" class="<%= currentPage === 'account' ? 'active' : '' %>">Account</a>
      </div>
    </div>
  </header>
  <body>
    <main class = "content">