<%- include('./partials/header', { currentPage: 'characters'}) %>

<div class="character-page-info">
    <h2><%= character.npc_name %></h2>
    <div class="character-group">
        <div class="character-info">
            <div class="character-item">
                <strong>Likes:</strong>
                <% if (likes.length > 0) { %>
                    <span><%= likes.join(', ') %></span>
                <% } else { %>
                    <span>None</span>
                <% } %>
            </div>
            <div class="character-item">
                <strong>Dislikes:</strong>
                <% if (dislikes.length > 0) { %>
                    <span><%= dislikes.join(', ') %></span>
                <% } else { %>
                    <span>None</span>
                <% } %>
            </div>
            <div class="character-item">
                <strong>Neutral:</strong>
                <% if (neutral.length > 0) { %>
                    <span><%= neutral.join(', ') %></span>
                <% } else { %>
                    <span>None</span>
                <% } %>
            </div>
            <div class="character-item">
                <strong>Lore:</strong> <span><%= character.npc_name%> <%=character.bio %></span>
            </div>
        </div>
        <div id="characterPageImage">
            <img src="<%= character.img_path %>" alt="No image">
        </div>
    </div>
    <a href="/characters" class="big-button" id="backToCharactersButton">Back To Characters</a>
</div>

<%- include('./partials/footer') %>
