<%- include('./partials/header', { currentPage: 'characters'}) %>
<div class="characters-info">
  <h2 style="margin-bottom: 40px">Characters</h2>
  <div class="characters-grid">
    <% for (let i = 0; i < npcs.length; i++) { %>
      <a href="/character/<%= npcs[i].npc_id %>">
        <div class="character-name-img">
          <div id="character-img">
            <img src="<%= npcs[i].img_path %>" alt="No image">
          </div>
          <div class="character-name"><%= npcs[i].npc_name %></div>
        </div>
      </a>
    <% } %>
  </div>
</div>
<%- include('./partials/footer') %>
