<%- include('./partials/header', { currentPage: 'account'}) %>

<div class="account-details">
    <h2>Account Details</h2>
    <div class="account-group">
        <div class="account-info">
            <div class="account-item">
                <strong>Username:</strong> <span><%= user.username %></span>
            </div>
            <div class="account-item">
                <strong>Email:</strong> <span><%= user.email %></span>
            </div>
            <div class="account-item">
                <% if (user.player_name) { %>
                    <strong>Full Name:</strong> <span><%= user.player_name %></span>
                <% } %>
            </div> 
            <div class="account-item">
                <strong>Account Age:</strong> <span><%= user.account_age %></span>
            </div>
            <div class="account-item">
                <strong>Total Points:</strong> <span><%= user.total_points %></span>
            </div>
            <div class="account-item">
                <strong>High Score:</strong> <span><%= user.high_score %></span>
            </div>
            
            <div class="account-item">
                <% if (user.bio) { %>
                    <strong>Bio:</strong> <span><%= user.bio %></span>
                <% } %>
            </div>
        </div>
        <div id="profileImage">
            <img src="/images/ps1.png" alt="No image">
        </div>
    </div>
    <div class = "edit-logout">
        <a href="/edit" class="big-button" id="editButton">Edit Account</a>
        <form action="/logout" method="POST" style="display:inline;">
            <button type="submit" class="big-button" id="editButton">Logout</button>
        </form>
    </div>
</div>

<%- include('./partials/footer') %>
