<%- include('./partials/header', { currentPage: 'players'}) %>

<div class="player-search">
    <h2>Search For Players</h2>
    <div class="player-search-bar">
        <input type="text" id="playerInput" placeholder="Enter player name" />
        <button id="searchPlayer">Search</button>
    </div>
</div>

<div class="players-column" id="playersList">
    <% players.forEach(player => { %>
        <a href="/profile/<%= player.user_id %>" class="player-listing">
            <div class="player-name"><%= player.username %></div>
            <div id="player-image">
                <img src="<%= player.img_path %>" alt="No image">
            </div>
        </a>
    <% }) %>
</div>

<%- include('./partials/footer') %>
