<%- include('./partials/header', { currentPage: 'leaderboard'}) %>

<div class="profile-details">
    <h2><%= user.username %></h2>
    <div class="account-group">
        <div class="account-info">
            <div class="account-item">
                <% if (user.player_name) { %>
                    <strong>Full Name:</strong> <span><%= user.player_name %></span>
                <% } %>
            </div>
            <div class="account-item">
                <strong>Account Age:</strong> <span><%= account_age %> <%= account_age === 1 ? 'day' : 'days' %> old</span>
            </div>
            <div class="account-item">
                <strong>Total Points:</strong> <span><%= user.total_points %></span>
            </div>
            <div class="account-item">
                <strong>High Score:</strong> <span><%= user.high_score %></span>
            </div>
            <div class="account-item">
                <% if (user.bio) { %>
                    <strong>Bio:</strong> <span><%= user.bio %></span>
                <% } %>
            </div>
        </div>
        <div id="profileImage">
            <img src="<%= user.img_path %>" alt="No image">
        </div>
    </div>
    <div class="leaderboard-players">
        <a href="/leaderboard" class="big-button" id="backToLeaderboardButton">Leaderboard</a>
        <a href="/players" class="big-button" id="backToLeaderboardButton">Players</a>
    </div>
</div>

<%- include('./partials/footer') %>
